    ul{
        display: none; 
   }

    .flex{
    display: flex;
    justify-content: space-around;
    
    background-color: blue;
    }

    .button__nav:hover{
        border: 2px solid black;
        border: 2px;
    }

    .button__nav:active ~ ul {

        display: block;  
        text-decoration: none;
        height: 100vh;
        background-color: aquamarine;
        width: 100%;
        
    }

    .button__nav:active {
        display: none;
    }

   /* .section__logo ~ .button__nav:active{
        display: none;
    } */

     /* .section__logo .button__nav:active{
        display: none;
    } */

    .nav{
       margin-top: 0;
       margin-left: 0;
    }

    .nav__li{
        padding: 10px;
        margin-left: 50px;
    }

     

    






