* {
    box-sizing: border-box;
  }

section{
  background-color: aquamarine;
}

#main__nav{
  list-style-type: none;
}

  #main__nav{
  display: flex;
 
  
}
 .nav__li__ul__li{
  display: none;
}

#main__nav .nav__li:first-child:hover  .nav__li__ul__li {
  display: block;
}

#main__nav a{
  padding: 5px;
  color: white;
  background-color: #13a4a4;
}

h2{
  margin-bottom: 8px;
}

.line span{
  display: inline-block;
  
  font-weight: bold;
  background-color: rgb(250,163,146);
}

p{
  margin-bottom: 16px;
}

.list{
  list-style-image: /*svg*/ 
}

.list li::before{
  content:url(); /* Insert content that looks like bullets */
  padding-right: 8px;
  background-color: rgb(250,163,146);
}

