:root{
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;

}

a:hover{
    color:rgb(250,163,146)
}

button{
    background-color: rgb(250,163,146);
}

button:hover{
    background-color: rgb(250,146,181);
}